
@media (prefers-color-scheme: dark) {

				.leaflet-container {
								background-color: #000 !important;
				}

				.leaflet-layer {
								filter: grayscale(50%) invert(100%) brightness(115%) contrast(110%) hue-rotate(220deg);
				}

				.leaflet-control-attribution {
								background-color: #202e44ff !important;
								color: white !important;
				}
}
