
@media (prefers-color-scheme: dark) {

				.leaflet-container {
								background-color: #2a2a2a !important;
				}


				.leaflet-tile-pane {
								background-color: #fff !important;
								opacity: 1 !important;
				}

				.leaflet-pane.leaflet-tile-pane > .leaflet-layer {
								filter: url(#reduce-red-dark) invert(100%) hue-rotate(215deg) saturate(0.6) brightness(55%);
								opacity: 1;
				}

	

				.form-select {
								background-color: #2228 !important;
								color: white !important;
				}

								.form-select option:disabled {
												color: #ccc !important;
								}
}
