
@media (prefers-color-scheme: dark) {

				.leaflet-container {
								background-color: #000 !important;
				}

				.leaflet-layer {
								filter: invert(100%) hue-rotate(200deg) brightness(140%) contrast(108%) saturate(0.6);
				}

				.leaflet-control-attribution {
								background-color: #202e44ff !important;
								color: white !important;
				}
}
