:root {
				--toolbar-height: 5vh;
				--difference: calc(var(--toolbar-height) * 20);
				--loadingpanel-width: calc((40vw + var(--difference)) / 4.7 );
}

.btn-toolbar {
				height: var(--toolbar-height);
				min-height: var(--toolbar-height);
}

.leaflet-container {
				background-color: #fff !important;
}

.leaflet-layer {
				filter: url(#reduce-red) hue-rotate(22deg) saturate(2) brightness(0.75) contrast(110%);
}

img.leaflet-tile {
				image-rendering: optimizeQuality;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
				border: 2px solid #0d6efd !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
				background-color: #0d6efd !important;
				border-bottom-color: #0d6efd !important;
				color: white !important;
}

.leaflet-container .leaflet-control-attribution {
				background: rgba(255, 255, 255, 0);
				text-shadow: 1px 1px 1px white;
}

#mapid {
				position: relative;
				outline: none;
				height: calc(100% - var(--toolbar-height));
				width: 100% !important;
	                        
}

.easeload {
				opacity: 0;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
}

.scandate {
				position: relative;
				height: var(--toolbar-height);
				max-width: 100%;
				width: 100%;
				overflow: hidden;
}
				.scandate > .loadingpainel {
								background-color: black;
								z-index: 10000;
								max-width: 100%;
				}
								.scandate > .loadingpainel > .loading {
												object-fit: scale-down;
												padding: 10px 4vw 10px 20px;
												height: var(--toolbar-height);
												max-height: 100%;
												width: var(--loadingpanel-width);
												max-width: 100%;
												margin: auto;
								}
				.scandate > .timepainel {
								width: 100%;
								max-width: 100%;
				}
								.scandate > .timepainel > .timestamp {
												clip-path: inset(0 69.5% 97.7% 5%);
												margin-left: -2em;
												margin-top: calc((var(--toolbar-height) / 2) - (var(--toolbar-height) / 7));
												max-height: 100%;
												max-width: calc(100% - (100% - 1110px));
												object-fit: cover;
												width: calc(50vw + 560px);
								}

.clearfix {
				*zoom: 1;
}
				.clearfix:before,
				.clearfix:after {
								content: " ";
								display: table;
				}

				.clearfix:after {
								clear: both;
				}

.outer-div {
				position: relative;
				bottom: 60px; /* Distance from the bottom of the viewport */
				float: right;
				right: 50%;
}

.inner-div {
				position: relative;
				float: right;
				right: -50%;
}

/* Adjust for screens */
@media (max-height: 720px) {
				:root {
								--toolbar-height: 7vh;
				}
}

@media (max-height: 480px) {
				:root {
								--toolbar-height: 10vh;
				}
}

html {
				height: 100%
}

body {
				height: 100%;
				background: black;
}

.btn {
				border-radius: 0 !important;
}

.floating-img {
				position: absolute;
				bottom: 10px; /* Distance from the bottom of the viewport */
				left: 10px; /* Distance from the left side of the viewport */
				width: 64px; /* Set the width of the image */
				height: auto; /* Maintain aspect ratio */
				z-index: 1000; /* Ensure it's above most other elements */
}

.apisourcespainel {
				position: relative;
				width: 100%; /* Set the width of the image */
				height: auto; /* Maintain aspect ratio */
				z-index: 1000; /* Ensure it's above most other elements */
}
				.apisourcespainel > .form-select {
								display: block;
								margin: auto;
								width: auto;
				}

.leaflet-image-layer.leaflet-zoom-animated {
				clip-path: circle(42.5% at 50% 50%);
}

.leaflet-interactive {
				stroke: #0b5ed7;
}

.form-select {
				background-color: #fff3 !important;
				border-width: medium;
				border-color: #0b5ed799;
				width: 95px !important;
}
				.form-select option:disabled {
								color: #999 !important;
				}
